/**
* CONTENTS
*
* BASE
* Reset
* Main
* Library overwrites
*
* TYPOGRAPHY
* Heading
* Text
* Link
*
* COMPONENTS.................. Components that exists on all pages
* Header 
* Footer
* Section
* Form
* Button
* Dropdown
*
* PAGES...................... Components and style for elements that exist only on those pages
* Home
* Show Article  
*
*/

/*----------*** BASE ***----------------*/

body {

	background-color: rgb(245, 245, 245);
}

/*--------------------------------*\
    #RESET
\*--------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------------*\
    #MAIN
\*--------------------------------*/
.main {

	padding: 30px 25px;
	min-height: 100vh;
}

/*--------------------------------*\
    #LIBRARY OVERWRITES
\*--------------------------------*/

/* CKEDITOR5 */
.ck-editor__editable {

	height: 300px;
}

.ck-editor__editable strong {

	font-weight: bold;
}

.ck-editor__editable i {

	font-style: italic;
}

.ck-editor__editable h2 {

	font-size: 24px;
}

.ck-editor__editable h3 {

	font-size: 22px;
}

.ck-editor__editable h4 {

	font-size: 20px;
}

.ck-editor__editable ul,
.ck-editor__editable ol {

	padding-left: 30px;
	margin: 15px 0;
}

.ck-editor__editable ul {

	list-style-type: disc;
}

.ck-editor__editable ol {

	list-style-type: decimal;
}

.ck-editor__editable blockquote,
.ck-editor__editable q {

	color: rgb(30, 30, 30);
}

/*----------*** END OF BASE ***----------------*/


/*----------*** TYPOGRAPHY ***----------------*/

/*--------------------------------*\
    #HEADING
\*--------------------------------*/

h1, h2, h3, h4, h5, h6 {

	font-family: 'Roboto', sans-serif;
}

/*--------------------------------*\
    #TEXT
\*--------------------------------*/
.text {

	font-family: 'Open Sans', sans-serif;
}

.text--small {

	font-size: 14px;
}

.text--large {

	font-size: 18px;
}

/*--------------------------------*\
    #LINK
\*--------------------------------*/
.link,
.link:active,
.link:hover,
.link:visited {

	color: #fff;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

.link--button {

	background: none;
	border: none;
	cursor: pointer;
}


/*----------*** END OF TYPOGRAPHY ***----------------*/


/*----------*** COMPONENTS ***----------------*/

/*--------------------------------*\
    #HEADER
\*--------------------------------*/

.header {

	background-color: rgb(22, 107, 141);
	height: 60px;
	line-height: 60px;
	display: flex!important;
	justify-content: space-between;
	align-items: center;
}

	.header__logo {

		line-height: normal;
		padding-left: 10px;
	}

	.header__link {

		font-size: 14px;
	}

	.header__auth {

		padding-right: 10px;
	}

	.header__dropdown {

		height: 100%;
	}

/*--------------------------------*\
    #FOOTER
\*--------------------------------*/

.footer {

	background-color: rgb(22, 107, 141);
	height: 50px;
	line-height: 50px;
	width: 100%;
	text-align: center;
}

	.footer__copyright {

		color: #fff;
	}

/*--------------------------------*\
    #SECTION
\*--------------------------------*/

.section__title {

	font-size: 28px;
	margin-bottom: 10px;
}

.section__title--center {

	text-align: center;
}

/*--------------------------------*\
    #FORM
\*--------------------------------*/

.form {

	background-color: rgb(255, 255, 255);
	padding: 30px 15px;
	width: 50%;
	margin: 50px auto;
	border-radius: 10px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

	.form__group {

		margin-bottom: 20px;
	}

		.form__field {

			display: block;
			border: 1px solid rgb(204, 204, 204);
			padding: 5px 10px;
			margin: 0 auto;
			width: 40%;
		}

		.form__field:focus-visible {

			outline: none;
		}

		.form__field--invalid {

			margin: 0 auto 5px auto;
			border: 1px solid rgb(180, 0, 0);
		}

		.form__label {

			display: block;
			margin-bottom: 5px;
		}

	.form__submit {

		display: block;
		margin: 0 auto 20px auto;
	}

	.form__link {

		color: rgb(0, 0, 238);
	}

	.form__link:active,
	.form__link:visited,
	.form__link:hover {

		color:rgb(3, 3, 140);
	}

	.form__error {

		color: rgb(180, 0, 0);
		font-size: 14px;
		margin: 10px 0;
	}

/*--------------------------------*\
    #BUTTON
\*--------------------------------*/

.button {

	background: none;
	border: 2px solid rgb(200, 200, 200);
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	padding: 5px 18px;
	border-radius: 2px;
	transition: all .5s;
	cursor: pointer;
}

.button:hover {

	background-color: rgb(200, 200, 200);
	color: #fff;
}

/*--------------------------------*\
    #DROPDOWN
\*--------------------------------*/

.dropdown {

	position: relative;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	transition: all .5s;
}

.dropdown:hover {

	background-color: rgba(255, 255, 255, 0.2);	
}

	.dropdown__content {

		display: none;
		position: absolute;
		background-color: #f1f1f1;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		line-height: normal;
		width: 100%;
	}

	.dropdown__content--show {

		display: block;
	}

	.dropdown__item {

		color: #000;
  		padding: 12px 16px;
  		text-decoration: none;
  		display: block;
	}

	.dropdown__item--btn {

		border: none;
		background: none;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		cursor: pointer;
		width: 100%;
		text-align: left;
	}

	.dropdown__item:hover {

		background-color: #ddd;
	}

	.dropdown__button {

		cursor: pointer;
		height: 100%;
		padding: 0 10px;
	}

	.dropdown__button--light {

		color: #fff;
	}

	.dropdown__caret {

		line-height: inherit;
		margin-left: 2px;
		display: inline-block;
	}

	/* Show dropdown on hover */
	.dropdown:hover .dropdown__content {

		display: block;
	}

/*----------*** END OF COMPONENTS ***----------------*/


/*----------*** PAGES ***----------------*/

/*--------------------------------*\
    #HOME
\*--------------------------------*/

.article-box {

	margin: 10px 0 25px 0;
	width: 70%;
	font-family: 'Open Sans', sans-serif;
	padding: 10px 0;
	border-top: 1px solid rgb(22, 107, 141);
	border-bottom: 1px solid rgb(22, 107, 141);
}

	.article-box__title {

		font-size: 20px;
		color: rgb(22, 107, 141);
	}

	.article-box__info {
		
		margin-top: 20px;
	}

		.article-box__author {

			font-size: 14px;
			margin-right: 15px;
		}

		.article-box__time {

			font-size: 14px;
		}

		.article-box__more {

			float: right;
			text-decoration: none;
			color: #fff;
			border: 1px solid rgb(0, 69, 160);
			background:rgb(0, 69, 160);
			padding: 5px 10px;
			font-size: 12px;
		}
		
/*--------------------------------*\
    #SHOW ARTICLE
\*--------------------------------*/

.article {

	font-family: 'Open Sans', sans-serif;
}
	.article__info {

		margin-bottom: 20px;
		border-bottom: 1px solid rgb(0, 69, 160);
		padding: 10px 0;
	}

		.article__category {

			margin-left: 15px;
			background-color: rgb(180, 180, 180);
			font-size: 14px;
			padding: 3px 6px;
			border-radius: 5px;
		}

		.article__posted {

			float: right;
			font-size: 14px;
		}

	.article__image {

		margin: 20px 0;
	}

	.article__text h2 {

		font-size: 24px;
	}
		
	.article__text h3 {
		
		font-size: 22px;
	}
	
	.article__text h4 {
		
		font-size: 20px;
	}

	.article__text ul,
	.article__text ol {

		padding-left: 30px;
		margin: 15px 0;
	}

	.article__text ul {

		list-style-type: disc;
	}

	.article__text ol {

		list-style-type: decimal;
	}


/*----------*** END OF PAGES ***----------------*/

